
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
}
header {
  background: #B0DDDD;
  /* height: 70px; */
}
.main {
  background: #F9F9F9;
  height: 300px;
}
footer {
  background: #DCCEC8;
  /* height: 70px; */
}
.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
  background: #FFD0AB;
  height: 100%;
}
.logo {
  float: left;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block; /*один из способов разместить элементы в строку*/
}
nav a {
  font-family: Montserrat;
  text-decoration: none;
  line-height: 60px;
  color: #6c6c6c;
}
.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  /* margin-bottom: 15px; */
}
.col-1-3 {
  min-width: 100px;
  min-height: 100px;
  width: 33.3333333333%;
  float: left;

}

.main_h{
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}
.main_c{
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 14px;/* Approximation due to font substitution */
  font-weight: 300;
  line-height: 24px;/* Approximation due to font substitution */
  text-align: left;
  width: 50%;
}
.main_c img{
  width: 50%;
  float: left;
}

.footer_h{
  font-family: Montserrat;
  text-align: center;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;

}
.footer_c{
  font-family: Montserrat;
  text-align: center;
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 700;

}
.footer_c a{
  color: #6c6c6c;
}
.footer_c img{
  width: 38px;
}

.footer_f img{
  margin-left: -25px;
  width: 20px;
}
.copy, .social, .politics{
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
}
.social img{
  width: 38px;
}
